# Random Forest x IRIS

In [115]:
import numpy as np
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#autres

### Importer le dataset IRIS

In [116]:
df = pd.read_csv("iris.csv")
print('dataset loaded')

dataset loaded

### Faite un dataFrame et renommer les colonnes

In [117]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [118]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [119]:
df_iris=df.rename(columns={"sepal_length":"S_L","sepal_width":"S_W", "petal_length":"P_L","petal_width":"P_W","species":"SP"})

In [120]:
df_iris

     S_L  S_W  P_L  P_W         SP
0    5.1  3.5  1.4  0.2     setosa
1    4.9  3.0  1.4  0.2     setosa
2    4.7  3.2  1.3  0.2     setosa
3    4.6  3.1  1.5  0.2     setosa
4    5.0  3.6  1.4  0.2     setosa
..   ...  ...  ...  ...        ...
145  6.7  3.0  5.2  2.3  virginica
146  6.3  2.5  5.0  1.9  virginica
147  6.5  3.0  5.2  2.0  virginica
148  6.2  3.4  5.4  2.3  virginica
149  5.9  3.0  5.1  1.8  virginica

[150 rows x 5 columns]

In [121]:
print(df_iris.columns)

Index(['S_L', 'S_W', 'P_L', 'P_W', 'SP'], dtype='object')

In [122]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S_L     150 non-null    float64
 1   S_W     150 non-null    float64
 2   P_L     150 non-null    float64
 3   P_W     150 non-null    float64
 4   SP      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [136]:
SP_label_encoder = LabelEncoder()
df_iris.SP=SP_label_encoder.fit_transform(df_iris.SP)
df_iris['SP']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: SP, Length: 150, dtype: int64

In [137]:
#df_iris.head(30)

In [138]:
# for index, row in df_iris.iloc [30:50].iterrows ():
 # print(row)

In [139]:
#df_iris[100:150] # 2=virginica à aprtir row 100 jusq'au 150

### Définir les variables features et la target & effectuer un split

In [140]:
from sklearn.model_selection import train_test_split

In [141]:
features = ['S_L', 'S_W', 'P_L', 'P_W', 'SP']
target = ['SP']
#df_iris['SP']

In [142]:
#split_df=df_iris['SP'].str.split(pat='sefosa:virginica', n=2, expand = True)
#split_df

#split_df = df_iris["SP"].str.split(" ", n = 1, expand = True)
#split_df

### Entrainer le classifieur

In [143]:
x_train, x_test, y_train, y_test = train_test_split(df_iris[features],df_iris[target],test_size=0.2)

In [144]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((120, 5), (30, 5), (120, 1), (30, 1))

In [149]:
 x_train

     S_L  S_W  P_L  P_W  SP
1    4.9  3.0  1.4  0.2   0
67   5.8  2.7  4.1  1.0   1
138  6.0  3.0  4.8  1.8   2
92   5.8  2.6  4.0  1.2   1
91   6.1  3.0  4.6  1.4   1
..   ...  ...  ...  ...  ..
61   5.9  3.0  4.2  1.5   1
100  6.3  3.3  6.0  2.5   2
19   5.1  3.8  1.5  0.3   0
94   5.6  2.7  4.2  1.3   1
43   5.0  3.5  1.6  0.6   0

[120 rows x 5 columns]

In [150]:
x_test.shape

(30, 5)

In [145]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 42)
from pprint import pprint
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [146]:
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [int(x) for x in np.linspace(start = 2, stop = 100, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
min_samples_split = [2, 5, 10] 
min_samples_leaf = [1, 2, 4] 
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap
              }

pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [2, 12, 23, 34, 45, 56, 67, 78, 89, 100]}

In [152]:
rf = RandomForestRegressor(random_state = 42) 
rf_ex = RandomizedSearchCV(estimator=rf, param_distributions=random_grid,
                              n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs=-1,
                              return_train_score=True) 
target = np.array(y_train)
rf_ex.fit(x_train.values,target.ravel());

Fitting 3 folds for each of 100 candidates, totalling 300 fits

### Afficher l'accuracy de votre classifieurs

### Analyser votre classifieur, que voyez vous ?

### Afficher les features importances

In [153]:
rf_ex.best_params_

{'n_estimators': 100,
 'min_samples_split': 2,
 'min_samples_leaf': 4,
 'max_features': 'auto',
 'max_depth': 30,
 'bootstrap': False}

In [154]:
rf_ex.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=30, min_samples_leaf=4,
                      random_state=42)

### Afficher graphiquement les features importances

### Entrainer votre classifieurs avec moins de features

### Que constatez vous ?